<!--<style>-->
  <!--body {-->
    <!--background-image: url('../../../images/cph-2.png');-->
  <!--}-->
<!--</style>-->
<div style="width: 100% display:inline-block; height: 100vh;padding: 10px;">
  <div class="alert alert-danger" role="alert" ng-show="error" style="margin: 1em;">{{error}}</div>

  <script type="text/ng-template" id="DirtyForm.html">
    <div class="modal-header">
      <h3 class="modal-title">Unsaved changes on current period!</h3>
    </div>
    <div class="modal-body" style="height: 10em;">
      There are unsaved changes on the current period.
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="saveChanges()">Save</button>
      <button class="btn btn-warning" ng-click="continueAndDrop()">Drop Changes</button>
    </div>
  </script>

  <div class="form-group" style="margin-top: 2em;">
    <div class="col-md-6">
      <select ng-model="selectedId"
              ng-options="class._id as class.nameShort + ' (' + class._id+')' for class in classes"
              ng-change="getClass(selectedId)" id="class" class="form-control">
        <option value='' disabled selected style='display:none;'>Select class</option>
      </select>
    </div>
  </div>

  <div style="clear:both">&nbsp;</div>

  <div class="btn-group" style="float: left">
    <button ng-repeat="period in selectedClass.periods" style="min-width: 10em;" type="button" class="btn btn-default btn-sm"
            ng-click="showPeriod(period._id)">
      {{period.periodName}}
    </button>
  </div>


  <div style="clear:both">&nbsp;</div>

  <div collapse="!period" style="width: 100%;max-height: 70vh; overflow: auto"> <!-vh Vertical Height -->
    <div class="row">
      <div class="col-md-5" style="font-size: large; align-content: center">{{period.periodName}}, {{period.periodDescription}}</div>
      <div class="col-md-4">
      <input type="search" ng-model="filteredTasks" class="form-control input-sm" style="width: 20em;" placeholder="Select task">
      </div>
    </div>
    <form  name="studyPointForm"  name="studyPointForm" style="max-width: 40%;">
      <div >
        <table class="table" style="font-size: smaller">

          <thead>
          <tr>
            <th>
              <div style="width: 12em;display: inline-block">Student
                <a href="" ng-click="predicate = 'fullName'; reverse=!reverse"><span class="glyphicon glyphicon-sort"
                                                                                     aria-hidden="true"></span></a>
              </div>
            </th>
            <th>
              <div style="width: 4em;display: inline-block">Sum
              <a ng-click="predicate = 'sumOfAllPoints'; reverse=!reverse">
                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
              </a>
                </div>
            </th>
            <th ng-repeat="task in period.tasks | filterTasks:{tasks: period.tasks, filterText: filteredTasks,header: true}">
              {{task.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <!--<tr ng-repeat="student in period.students">-->
          <tr ng-repeat="student in period.students  | orderBy:predicate:reverse">
            <th><a href="#/viewAdmin_studentDetail/{{student.userId}}/{{student.fullName}}">{{student.fullName}}</a></th>
            <th style="color: #5f9ea0">{{student | sumOfAllPoints | orderBy:sumOfAllPoints:reverse}}</th>
            <th ng-repeat="s in student.scores | filterTasks:{tasks: period.tasks, filterText: filteredTasks,header: false}">
              <input type="number" min="0" max="{{s.maxScore}}"
                     style="width: 3em;border:0px;"
                     ng-model="s.score"
                     tabindex="{{calculateTabIndex($parent.$index  + $index *rows)}}">
            </th>
          </tr>
          </tbody>
        </table>
      </div>

    </form>
  </div>

  <button ng-click="savePeriod()" ng-disabled="!studyPointForm.$dirty" ng-show="period" class="btn btn-success"
          style="margin-top: 0.5em;">Save
  </button>
  
  
  
</div>

