<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
<!--    <security-constraint>
        <display-name>Teacher</display-name>
        <web-resource-collection>
            <web-resource-name>Teacher</web-resource-name>
            <description>What teachers can do</description>
            <url-pattern>/api/admin/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>afasd</web-resource-name>
            <description>safas</description>
            <url-pattern>/slet.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>teacher</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>studypoint</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>teacher</role-name>
    </security-role>-->
</web-app>
