<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div style="padding: 1em;">
  <h3>{{name}}</h3>
  <div>
    <div style="width: 25%">
      <select ng-model="selectedId"
              ng-options="class._id as class.nameShort + ' (' + class._id+')' for class in classes"
              ng-change="getClass(selectedId)" id="class" class="form-control">
        <option value='' disabled selected style='display:none;'>Select class</option>
      </select>
    </div>
  </div>

  <div style="clear: both;">&nbsp;</div>

  <div style="float: left">
    <button ng-repeat="period in allPeriods" style="min-width: 10em;" type="button" class="btn btn-default btn-sm"
            ng-click="showPeriod(period.periodName)">
      {{period.periodName}}
    </button>

  </div>
  <div style="clear:both">&nbsp;</div>

  <div collapse="!period">
    <h3>{{period.periodName}} ({{period.periodDescription}})</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="table" style="font-size: smaller;">
          <form name="studyPointFormForUser">
            <table class="table table-striped table-condensed" style="font-size: smaller">
              <thead>
              <tr>
                <th>Task</th>
                <th>Score</th>
                <th style="color:gray;">Max</th>
              </tr>
              </thead>
              <tr ng-repeat="task in period.tasks">
                <td>{{task.name}}</td>
                <td><input type="number" ng-model="task.score" min="0" max="{{task.maxScore}}"></td>
                <td style="color:gray">{{task.maxScore}}</td>
              </tr>

            </table>
          </form>
          <button ng-click="savePeriod()" ng-disabled="studyPointForm.$invalid" ng-show="period" class="btn btn-success"
                  style="margin-top: 0.5em;">Save
          </button>
        </div>
      </div>
      <div class="col-md-7">
        <study-point-details></study-point-details>

      </div>
    </div>
  </div>
</div>

